:focus {
  border: 2px solid;
  border-color: black !important;
}

.padded {
  padding: 20px;
}

.dismissed {
  color: #a9a9a9;
}

.verified {
  color: green;
}

#fileSelector {
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  margin: 10px;
  font-size: 90%;
}

#featureExplorer {
  margin-top: 20px;
}

.fun-box {
  margin:20px 0px 20px 0px;
  padding: 20px 20px 35px 20px;
  border: solid 1px gray;
  border-radius: 25px;
  box-shadow: 2px 3px;
  width: 750px;
}

.hr500 {
  width: 500px;
}

.highlight {
  background-color: #FFFFE0;
}
