.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Thumbs.db
!.gitkeep
*.pyc
src/main/backend/__pycache__/
src/main/backend/stoplists/
src/main/backend_dist/
src/main/br_processor.spec
src/main/build/
env/
docs/_build/
